<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<html lang="ch">
<head th:replace="common :: head(~{::title})">
    <meta charset="UTF-8">
    <title>员工管理</title>
</head>
<body>

<div class="modal fade" id="empAddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">添加员工</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">员工号</label>
                        <div class="col-sm-10">
                            <input name="empNo" type="text" class="form-control" id="empNo_add_input"
                                   placeholder="empName">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empName_add_input" class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-10">
                            <input name="empName" type="text" class="form-control" id="empName_add_input"
                                   placeholder="empName">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">部门号</label>
                        <div class="col-sm-4">
                            <select class="form-control" name="empDeptId" id="deptId_add_select">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empEmail_add_input" class="col-sm-2 control-label">职务</label>
                        <div class="col-sm-10">
                            <input name="empDuty" type="text" class="form-control" id="empDuty_add_input"
                                   placeholder="empDuty">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empEmail_add_input" class="col-sm-2 control-label">学历</label>
                        <div class="col-sm-4">
                            <select name="empXl" class="form-control" id="deptXl_add_select">

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="empGender" id="empGender_add_input" value="M" checked="checked"> 男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="empGender" id="empGender_add_input2" value="F"> 女
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empName_add_input" class="col-sm-2 control-label">生日</label>
                        <div class="col-sm-10">
                            <input name="empBirthday" type="date" class="form-control" value="2002-11-22">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empEmail_add_input" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input name="empEmail" type="text" class="form-control" id="empEmail_add_input"
                                   placeholder="empEmail">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empEmail_add_input" class="col-sm-2 control-label">籍贯</label>
                        <div class="col-sm-10">
                            <input name="empHometown" type="text" class="form-control" id="empHometown_add_input"
                                   placeholder="empHometown">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empEmail_add_input" class="col-sm-2 control-label">国籍</label>
                        <div class="col-sm-10">
                            <input name="empCountry" type="text" class="form-control" id="empCountry_add_input"
                                   placeholder="empCountry">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empEmail_add_input" class="col-sm-2 control-label">民族</label>
                        <div class="col-sm-10">
                            <input name="empNation" type="text" class="form-control" id="empNation_add_input"
                                   placeholder="empNation">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empEmail_add_input" class="col-sm-2 control-label">身份证号</label>
                        <div class="col-sm-10">
                            <input name="empId" type="text" class="form-control" id="empId_add_input"
                                   placeholder="empId">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empEmail_add_input" class="col-sm-2 control-label">婚姻</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="empMarriage" id="empMarriage_add_input" value="1" checked="checked"> 已婚
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="empMarriage" id="empMarriage_add_input2" value="0"> 未婚
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empEmail_add_input" class="col-sm-2 control-label">电话</label>
                        <div class="col-sm-10">
                            <input name="empTeleno" type="text" class="form-control" id="empTeleNo_add_input"
                                   placeholder="empTeleNo">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empEmail_add_input" class="col-sm-2 control-label">岗位代号</label>
                        <div class="col-sm-4">
                            <select name="empJobId" class="form-control" id="deptJobId_add_select">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="saveEmpBtn">提交</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="empUpdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">修改员工</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">员工号</label>
                        <div class="col-sm-10">
                            <input name="empNo" type="text" class="form-control" id="empNo_Update_input"
                                   placeholder="empNo">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empName_add_input" class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-10">
                            <input name="empName" type="text" class="form-control" id="empName_Update_input"
                                   placeholder="empName">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">部门号</label>
                        <div class="col-sm-4">
                            <select class="form-control" name="empDeptId" id="deptId_update_select">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empEmail_add_input" class="col-sm-2 control-label">职务</label>
                        <div class="col-sm-10">
                            <input name="empDuty" type="text" class="form-control" id="empDuty_Update_input"
                                   placeholder="empDuty">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empEmail_add_input" class="col-sm-2 control-label">学历</label>
                        <div class="col-sm-4">
                            <select name="empXl" class="form-control" id="deptXl_Update_select">

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="empGender" id="empGender_Update_input" value="M" checked="checked"> 男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="empGender" id="empGender_Update_input2" value="F"> 女
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empName_add_input" class="col-sm-2 control-label">生日</label>
                        <div class="col-sm-10">
                            <input name="empBirthday" type="date" class="form-control" value="2002-11-22" id="empBirthday_update_input">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empEmail_add_input" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input name="empEmail" type="text" class="form-control" id="empEmail_Update_input"
                                   placeholder="empEmail">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empEmail_add_input" class="col-sm-2 control-label">籍贯</label>
                        <div class="col-sm-10">
                            <input name="empHometown" type="text" class="form-control" id="empHometown_Update_input"
                                   placeholder="empHometown">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empEmail_add_input" class="col-sm-2 control-label">国籍</label>
                        <div class="col-sm-10">
                            <input name="empCountry" type="text" class="form-control" id="empCountry_Update_input"
                                   placeholder="empCountry">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empEmail_add_input" class="col-sm-2 control-label">民族</label>
                        <div class="col-sm-10">
                            <input name="empNation" type="text" class="form-control" id="empNation_Update_input"
                                   placeholder="empNation">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empEmail_add_input" class="col-sm-2 control-label">身份证号</label>
                        <div class="col-sm-10">
                            <input name="empId" type="text" class="form-control" id="empId_Update_input"
                                   placeholder="empId">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empEmail_add_input" class="col-sm-2 control-label">婚姻</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                                <input type="radio" name="empMarriage" id="empMarriage_Update_input" value="1" checked="checked"> 已婚
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="empMarriage" id="empMarriage_Update_input2" value="0"> 未婚
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empEmail_add_input" class="col-sm-2 control-label">电话</label>
                        <div class="col-sm-10">
                            <input name="empTeleno" type="text" class="form-control" id="empTeleNo_Update_input"
                                   placeholder="empTeleNo">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="empEmail_add_input" class="col-sm-2 control-label">岗位代号</label>
                        <div class="col-sm-4">
                            <select name="empJobId" class="form-control" id="deptJobId_update_select">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="updateEmpBtn">更新</button>
            </div>
        </div>
    </div>
</div>
<div th:replace="common :: menu(1)">
</div>
<div class="container">
    <!-- 按钮 -->
    <div class="row">
        <div class="col-md-8">
            选择查询字段
            <select id="query_select">
                <option name="">员工号</option>
                <option>姓名</option>
                <option>部门号</option>
                <option>职务</option>
                <option>籍贯</option>
                <option>国籍</option>
                <option>民族</option>
                <option>身份证号</option>
                <option>婚姻</option>
                <option>电话</option>
                <option>email</option>
            </select>
            =
            <input id="input_text" type="text"/>
            <button class="btn btn-success" id="query"><i class="glyphicon glyphicon-search"></i>查询</button>
        </div>
        <div class="col-md-2">
            <button id="query_all" class="btn btn-warning"><i class="glyphicon glyphicon-send"></i>所有员工</button>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" id="emp_add_modal_btn">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>添加
            </button>
            <button class="btn btn-danger" id="delete_all_emp_btn">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>删除
            </button>
        </div>
    </div>
    <div class="row" id="table_par">
        <table class="table table-hover" id="personnels_table">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" id="check_all"/>
                </th>
                <th>员工号</th>
                <th>姓名</th>
                <th>部门号</th>
                <th>职务</th>
                <th>学历</th>
                <th>性别</th>
                <th>生日</th>
                <th>籍贯</th>
                <th>国籍</th>
                <th>民族</th>
                <th>身份证号</th>
                <th>婚姻</th>
                <th>电话</th>
                <th>email</th>
                <th>岗位代号</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <!-- 通过函数加载数据 -->
            </tbody>
        </table>
    </div>
    <div class="row fenye">
        <!--分页条信息-->
        <div class="col-md-6 col-md-offset-3 text-center" id="page_info_area"></div>
    </div>
    <div class="row fenye">
        <!--分页文字信息 -->
        <div class="col-md-6 col-md-offset-3 text-center" id="page_nav_area"></div>
    </div>
</div>
<script type="text/javascript">
    /* ================================================ 全局变量 ================================================ */

    var totalRecord; // 用于跳转到末页
    var currentPage // 用于完成请求后刷新页面
    var result1;
    /* ================================================ 函数 ================================================ */
    // 初始化页面时需要调用的函数
    $(function () {
        // 去首页
        to_page(1);
    });

    // 页面跳转函数
    function to_page(pn) {
        $.ajax({
            url: "[[@{/personnels}]]",
            data: "pn=" + pn,
            type: "GET",
            success: function (result) {
                // 1.解析员工数据
                build_emps_table(result);
                // 2. 解析并显示分页信息
                build_page_info(result);
                // 3. 解析显示分页条码
                build_page_nav(result);
            }
        });
    }

    function query(pn) {
        $.ajax({
            url: "[[@{/personnels/}]]" + $("#query_select").val() + "/" + $("#input_text").val(),
            data: "pin=" + pn,
            type: "GET",
            success: function (result) {
                // 1.解析员工数据
                build_emps_table(result);
                // 2. 解析并显示分页信息
                build_page_info(result);
                // 3. 解析显示分页条码
                build_page_nav(result);
            }
        });
    }

    // 解析表格数据函数
    function build_emps_table(result) {
        // 清空表格信息
        $("#personnels_table tbody").empty();
        // 获取员工列表
        var personnels = result.list;
        // 遍历员工列表，构建表格
        $.each(personnels, function (index, item) {
            var checkBoxTd = $("<td><input type='checkbox' class='check_item'/></td>")
            var empNo = $("<td></td>").append(item.empNo);
            var empName = $("<td></td>").append(item.empName)
            var empDeptId = $("<td></td>").append(item.empDeptId)
            var empDuty = $("<td></td>").append(item.empDuty)
            var empXl = $("<td></td>").append(item.empXl)
            var empGender = $("<td></td>").append(item.empGender == "M" ? "男" : "女");
            var empBirthday = $("<td></td>").append(item.empBirthday);
            var empHometown = $("<td></td>").append(item.empHometown)
            var empCountry = $("<td></td>").append(item.empCountry)
            var empNation = $("<td></td>").append(item.empNation);
            var empId = $("<td></td>").append(item.empId)
            var empMarriage = $("<td></td>").append(item.empMarriage == "1" ? "已婚" : "未婚");
            var empTeleno = $("<td></td>").append(item.empTeleno);
            var empEmail = $("<td></td>").append(item.empEmail)
            var empJobId = $("<td></td>").append(item.empJobId)
            // 注入按钮数据
            var editBtn = $("<button></button>").addClass("btn btn-primary btn-sm edit_btn")
                .append($("<span></span>").addClass("glyphicon glyphicon-pencil"))
                .append("编辑");
            // 添加自定义属性，用于修改员工时传递id值
            editBtn.attr("empid_for_edit", item.empNo)
            var delBtn = $("<button></button>").addClass("btn btn-danger btn-sm del_btn")
                .append($("<span></span>").addClass("glyphicon glyphicon-trash"))
                .append("删除");
            var btnTd = $("<td></td>").append(editBtn).append(" ").append(delBtn);
            $("<tr></tr>").append(checkBoxTd)
                .append(empNo)
                .append(empName)
                .append(empDeptId)
                .append(empDuty)
                .append(empXl)
                .append(empGender)
                .append(empBirthday)
                .append(empHometown)
                .append(empCountry)
                .append(empNation)
                .append(empId)
                .append(empMarriage)
                .append(empTeleno)
                .append(empEmail)
                .append(empJobId)
                .append(btnTd)
                .appendTo("#personnels_table tbody");
        });
    }

    // 解析显示分页信息函数
    function build_page_info(result) {
        // 清空原来的分页信息
        $("#page_info_area").empty();
        $("#page_info_area").append("当前页：" +
            result.pageNum + "，总页数：" +
            result.pages + "，总记录数：" +
            result.total);
        totalRecord = result.total;
        currentPage = result.pageNum;
    }

    // 解析显示分页条函数
    function build_page_nav(result) {
        // 清空原来的分页码
        $("#page_nav_area").empty();
        // 构建元素
        var ul = $("<ul></ul>").addClass("pagination")
        var firstPageLi = $("<li></li>").append($("<a></a>").append("首页").attr("href", "#"));
        var prePageLi = $("<li></li>").append($("<a></a>").append("&laquo;").attr("href", "#"));
        var nextPageLi = $("<li></li>").append($("<a></a>").append("&raquo;").attr("href", "#"));
        var lastPageLi = $("<li></li>").append($("<a></a>").append("末页").attr("href", "#"));
        // 添加首页、末页、上一页、下一页禁用 和跳转功能
        if (result.hasPreviousPage == false) {
            firstPageLi.addClass("disabled")
            prePageLi.addClass("disabled")
        } else {
            firstPageLi.click(function () {
                to_page(1)
            })
            prePageLi.click(function () {
                to_page(result.pageNum - 1)
            })
        }
        if (result.hasNextPage == false) {
            nextPageLi.addClass("disabled");
            lastPageLi.addClass("disabled");
        } else {
            lastPageLi.click(function () {
                to_page(result.pages);
            });
            nextPageLi.click(function () {
                to_page(result.pageNum + 1);
            });
        }

        // 添加首页和前一页
        ul.append(firstPageLi).append(prePageLi)
        // 构建条码
        $.each(result.navigatepageNums, function (index, num) {
            var numLi = $("<li></li>").append($("<a></a>").append(num).attr("href", "#"));
            // 设置当前页码高亮显示
            if (result.pageNum == num) {
                numLi.addClass("active")
            }
            // 添加按钮跳转事件
            numLi.click(function () {
                to_page(num)
            })
            ul.append(numLi)
        });
        // 添加末页和后一页
        ul.append(nextPageLi).append(lastPageLi)

        var navEle = $("<nav></nav>").append(ul)
        navEle.appendTo("#page_nav_area");
    }

    // 查询所有部门信息请求函数
    function getDepts(ele) {
        $.ajax({
            url: "[[@{/depts}]]",
            type: "GET",
            success: function (result) {
                console.log(result);
                $.each(result, function () {
                    var optionElement = $("<option></option>").append(this.deptName).attr("value", this.deptId);
                    optionElement.appendTo(ele);
                })
            }
        })
    }
    function getJobs(ele) {
        $.ajax({
            url: "[[@{/jobs}]]",
            type: "GET",
            success: function (result) {
                console.log(result);
                $.each(result, function () {
                    var optionElement = $("<option></option>").append(this.jobName).attr("value", this.jobId)
                    optionElement.appendTo(ele);
                })
            }
        })
    }
    // 添加员工表单数据校验信息显示函数
    function validate_add_from_information_show(ele, status, msg) {
        // 清楚当前元素的校验状态
        $(ele).parent().removeClass("has-success has-error")
        $(ele).next("span").text("")
        if("success" == status){
            $(ele).parent().addClass("has-success")
            $(ele).next("span").text(msg)
        } else if ("error" == status) {
            $(ele).parent().addClass("has-error")
            $(ele).next("span").text(msg)
        }
    }

    // 重置添加员工表单数据和样式
    function reset_form(ele) {
        // 清空表单数据
        $(ele + " form")[0].reset()
        // 清空表单样式
        $(ele + " form").find("*").removeClass("has-success has-error")
        $(ele + " form").find(".help-block").text("")
        // 清空下拉列表
        $(ele + " select").empty()
    }

    // 根据id查询员工信息函数
    function getEmpById(id) {
        $.ajax({
            url:"[[@{/emp/}]]" + id,
            type:"GET",
            success:function (result) {
                var empData = result;
                $("#empNo_Update_input").val(empData.empNo);
                $("#empName_Update_input").val(empData.empName);
                $("#deptId_Update_select").val(empData.empDeptId);
                $("#empDuty_Update_input").val(empData.empDuty);
                $("#deptXl_Update_select").val(empData.empXl);
                if (empData.empGender === "M") {
                    $("#empGender_update_input").prop("checked", true);
                } else {
                    $("#empGender_update_input2").prop("checked", true);
                }
                $("#empBirthday_update_input").val(empData.empBirthday);
                $("#empHometown_Update_input").val(empData.empHometown);
                $("#empCountry_Update_input").val(empData.empCountry);
                $("#empNation_Update_input").val(empData.empNation);
                $("#empId_Update_input").val(empData.empId);
                if (empData.empMarriage === 1) {
                    $("#empMarriage_Update_input").prop("checked", true);
                } else {
                    $("#empMarriage_Update_input2").prop("checked", true);
                }
                $("#empTeleNo_Update_input").val(empData.empTeleno);
                $("#empEmail_Update_input").val(empData.empEmail);
            }
        })
    }

    // 校验用户名函数
    function verifyUsername(ele) {
        var empName = $(ele).val();
        var regName = /(^[a-zA-Z0-9_-]{3,16}$)|(^[\u2E80-\u9FFF]{2,5})/ // 允许英文和中文
        if(!regName.test(empName)){
            validate_add_from_information_show(ele, "error", "员工名称格式不正确")
            return false
        } else {
            validate_add_from_information_show(ele, "success", "")
            return true
        }
    }

    // 校验邮箱格式函数
    function checkMailbox(ele) {
        var empEmail = $(ele).val()
        var regEmail = /^[a-z\d]+(\.[a-z\d]+)*@([\da-z](-[\da-z])?)+(\.{1,2}[a-z]+)+$/
        if(!regEmail.test(empEmail)){
            validate_add_from_information_show(ele, "error", "邮箱格式不正确")
            return false
        }
        var isTheEmailAddressCorrect = false
        // 发送Ajax请求判断邮箱是否重复
        $.ajax({
            url:"[[@{/checkEmail}]]",
            data:"empEmail=" + empEmail,
            type:"GET",  // get请求不检验中文,如果发送对象中含中文则用POST
            async:false, // 设置Ajax为同步
            success:function (result) {
                console.log(result)
                if(result.code === 100 && regEmail.test(empEmail)) {
                    validate_add_from_information_show(ele, "success", "")
                    isTheEmailAddressCorrect = true
                } else if (result.code === 200) {
                    validate_add_from_information_show(ele, "error", "邮箱已存在")
                    isTheEmailAddressCorrect = false
                }
            }
        })
        return isTheEmailAddressCorrect;
    }

    /* ============================================== 按钮绑定事件区 ============================================== */
    // 添加员工按钮事件
    $("#emp_add_modal_btn").click(function () {
        // 表单重置数据
        reset_form("#empAddModal");
        var empXl = $('#deptXl_add_select');
        empXl.append("<option value=\"1\">小学</option>\n" +
            "                                <option value=\"2\">初中</option>\n" +
            "                                <option value=\"3\">高中</option>\n" +
            "                                <option value=\"4\">大学</option>");
        // 发送Ajax请求， 查出部门信息，显示在下拉列表中
        getDepts("#deptId_add_select");
        getJobs("#deptJobId_add_select");
        $("#empAddModal").modal({
            backdrop: "static"
        })
    })

    // 模态框保存按钮点击事件
    $("#saveEmpBtn").click(function () {
        // 校验表单数据
        // if (!verifyUsername("#empName_add_input") || !checkMailbox("#empEmail_add_input")) {
        //     return false
        // }
        // 发送保存请求
        $.ajax({
            url: "[[@{/emp}]]",
            type: "POST",
            data: $("#empAddModal form").serialize(),
            success: function (result) {
                console.log(result)
                if(true) {
                    // 员工保存成功
                    // 1. 关闭模态框
                    $("#empAddModal").modal('hide')
                    // 2. 跳转到最后一页显示
                    to_page(totalRecord)
                } else {
                    // 显示失败信息
                    if(undefined !== result.extend.errorFields.empEmail){
                        validate_add_from_information_show("#empEmail_add_input", "error", "邮箱格式不正确")
                    }
                    if(undefined !== result.extend.errorFields.empName){
                        validate_add_from_information_show("#empName_add_input", "error", "员工名称格式不正确")
                    }
                }
            }
        })
    })

    // 为修改员工按钮添加事件
    // 因为是先绑定事件后在生成的按钮，所以不能用click
    // 早先版本的jQuery可以使用live方法
    // 这里使用 on 方法绑定
    $(document).on("click", ".edit_btn", function () {
        reset_form("#empUpdateModal")
        var empXl = $('#deptXl_Update_select');
        empXl.append("<option value=\"1\">小学</option>\n" +
            "                                <option value=\"2\">初中</option>\n" +
            "                                <option value=\"3\">高中</option>\n" +
            "                                <option value=\"4\">大学</option>");
        // 1. 查询部门信息显示
        getDepts("#deptId_update_select");
        getJobs("#deptJobId_update_select");
        // 2. 回显员工信息
        getEmpById($(this).attr("empId_for_edit"));
        // 3. 传递id給更新按钮
        $("#updateEmpBtn").attr("empId_for_edit", $(this).attr("empId_for_edit"));
        // 4. 跳出模态框
        $("#empUpdateModal").modal({
            backdrop: "static"
        })
    })

    // 绑定更新按钮单击事件
    $("#updateEmpBtn").click(function () {
        // 1. 校验表单数据
        // if (!verifyUsername("#empName_update_input") || !checkMailbox("#empEmail_update_input")) {
        //     return false
        // }
        // 2. 发送更新的Ajax请求

        $.ajax({
            url:"[[@{/emp/}]]" + $(this).attr("empId_for_edit"),
            type:"PUT",
            data:$("#empUpdateModal form").serialize(),
            success:function (result) {
                if(true) {
                    // 员工更新成功
                    // 1. 关闭模态框
                    $("#empUpdateModal").modal('hide')
                    // 2. 刷新页面
                    to_page(currentPage)
                } else {
                    // 显示失败信息
                    if(undefined !== result.extend.errorFields.empEmail){
                        validate_add_from_information_show("#empEmail_update_input", "error", "邮箱格式不正确")
                    }
                    if(undefined !== result.extend.errorFields.empName){
                        validate_add_from_information_show("#empName_update_input", "error", "员工名称格式不正确")
                    }
                }
            }
        })
    })

    // 单个删除按钮事件
    $(document).on("click", ".del_btn", function (){
        var empName = $(this).parents("tr").find("td:eq(2)").text()
        var empNo = $(this).parents("tr").find("td:eq(1)").text()
        if(confirm("确认删除【" + empName + "】吗？")) {
            // 确认则发送Ajax请求
            $.ajax({
                url:"[[@{/emp/}]]" + empNo,
                type:"DELETE",
                success:function (result) {
                    console.log(result)
                    // 刷新页面
                    to_page(currentPage)
                }
            })
        }
    })

    // 全选按钮绑定事件
    $("#check_all").click(function () {
        // attr获取checked属性时undefined
        // dom原生的属性需要用prop获取，attr获取自定义的属性
        $(".check_item").prop("checked", $(this).prop("checked"))
    })

    // 选项按钮绑定事件，当所有按钮被选中时，同时选中全选按钮
    $(document).on("click", ".check_item", function () {
        var flag = $(".check_item:checked").length === $(".check_item").length
        $("#check_all").prop("checked", flag)
    })

    // 删除全部选中员工按钮事件
    $("#delete_all_emp_btn").click(function () {
        var empIds = ""
        $.each($(".check_item:checked"), function () {
            empIds += $(this).parents("tr").find("td:eq(1)").text() + "-"
        })
        // 删除最后一个 "-"
        empIds.substring(0, empIds.length-1)
        if(confirm("确认删除所有员工吗？")) {
            $.ajax({
                url:"[[@{/emp/}]]" + empIds,
                type:"DELETE",
                success:function (result) {
                    console.log(result);
                    to_page(currentPage);
                    // 重置全选按钮为未选中状态
                    $("#check_all").prop("checked", false);
                }
            })
        }
    })

    $("#query").click(function () {
        var zhi = $("#query_select").val();
        var shuxin = $("#input_text").val();
        $("#table_par").addClass("pre-scrollable");
        $(".fenye").addClass("hidden");
        query(1);

    })
    $("#query_all").click(function () {
        $("#table_par").removeClass("pre-scrollable");
        $(".fenye").removeClass("hidden");
        to_page(1);
    })
</script>
</body>
</html>